@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

/* mixin */
@mixin keyframes($name){
    @-webkit-keyframes #{$name} {@content}
    @-moz-keyframes #{$name} {@content}
    @-ms-keyframes #{$name} {@content}
    @keyframes #{$name} {@content}
}

@mixin border-radius($radius){
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    -ms-border-radius:$radius;
    border-radius:$radius;
}




/* css area */

html,body {
    margin:0;
    padding:0;
    font-family: 'Shadows Into Light', cursive;
    font-size:14px
}


.loading {
    position:absolute;
    left:50%;
    top:0;
    width:100px;
    height:50%;
    margin:0 0 0 -50px;
    .inner {
        position:relative;
        height:100%;
        overflow:hidden;
    }
    .rainGroup {
        position:relative;
        > div {
            width:1px;
            height:20px;
            background:rgba(0,0,0,0.8);
            position:absolute;
            animation:rainAinmate 1s infinite linear;
        }
   }
    .rainGroup2 {
        @extend .rainGroup;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
        top:-300%;
    }
}

@for $i from 1 through 20 {
    .rain#{$i} {
        left:random(100)+px;
        top:random(700)*-1+100+px;
        opacity: (random(3)*0.1+0.1);
    }
}





//FRAME AREA
@include keyframes(rainAinmate) {
    100%   {margin-top:1000px}
}
@include keyframes(rainAinmate2) {
    100%   {margin-top:800px}
}


.text {
    position:absolute;
    bottom:-80px;
    font-size:14px;
    text-align:center;
    font-weight:700
}
